@page
@using ProgramGuard.Dtos.LogQuery
@model ProgramGuard.Web.Pages.ChangeLogsModel
@{
    ViewData["Title"] = "Change Log";

    /* 讓查詢能顯示到最新的資訊 */
    DateTime _timeNow = DateTime.Now.AddMinutes(1);
}
@Html.AntiForgeryToken()
<script src="~/js/pages/changeLog.js"></script>

@* <div class="functionPanel">
    @(Html.DevExtreme()
        .DateBox()
        .ID("startTime")
        .DisplayFormat("yyyy/MM/dd HH:mm")
        .Type(DateBoxType.DateTime)
        .Placeholder("起始時間")
        .Value(_timeNow.AddDays(-1)))

    @(Html.DevExtreme()
        .DateBox()
        .ID("endTime")
        .DisplayFormat("yyyy/MM/dd HH:mm")
        .Type(DateBoxType.DateTime)
        .Placeholder("結束時間")
        .Value(_timeNow))

    @(Html.DevExtreme().Button()
        .Text("查詢")
        .Type(ButtonType.Success)
        .OnClick("searchOnClick")
        )
</div> *@
<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">檔案名稱</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .ID("fileName")
                .ShowClearButton(true)
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">起始時間</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().DateBox()
                .ID("startTime")
                .DisplayFormat("yyyy/MM/dd HH:mm")
                .Type(DateBoxType.DateTime)
                .Value(_timeNow)
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">結束時間</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().DateBox()
                .ID("endTime")
                .DisplayFormat("yyyy/MM/dd HH:mm")
                .Type(DateBoxType.DateTime)
                .Value(_timeNow)
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">未審核</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().CheckBox()
                .ID("checkUnconfirm")
                .Value(false)
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                .Text("查詢")
                .Type(ButtonType.Success)
                .OnClick("searchOnClick")
                )
        </div>
    </div>
</div>

<div id="gridContainer">
    @(
        Html.DevExtreme().DataGrid<GetChangeLogDto>()
                .DataSource(o => o.RemoteController()
                .LoadUrl("ChangeLogs?Handler=Data")
                .UpdateUrl("ChangeLogs")
                .Key("Id"))
                .Editing(e =>
                {
                    e.AllowUpdating(new JS("updateConfirm"));
                    e.Mode(GridEditMode.Batch);
                    e.UseIcons(true);
                })
        .Selection(s => s
        .Mode(SelectionMode.Multiple)
        .Deferred(true))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(headerFilter => headerFilter.Visible(true))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Id).AllowEditing(false).Visible(false);

            columns.AddFor(m => m.FileName).Caption("檔案名稱").AllowEditing(false);

            columns.AddFor(m => m.ChangeTime).Caption("異動時間").Format("yyyy-MM-dd HH:mm:ss").AllowEditing(false);

            columns.AddFor(m => m.ConfirmBy).Caption("審核人員").AllowEditing(false);

            columns.AddFor(m => m.ConfirmTime).Caption("審核時間").Format("yyyy-MM-dd HH:mm:ss").AllowEditing(false);

            columns.AddFor(m => m.ConfirmStatus).Caption("審核狀態").AllowEditing(User.IsInRole("Admin"));
        })
        .ShowBorders(true)
        .ColumnAutoWidth(true)
        .Selection(o => o.Mode(SelectionMode.Single))
        .NoDataText("沒有資料")
        .HoverStateEnabled(true)
        .FocusedRowEnabled(true)
        .Paging(paging => paging.PageSize(15))
        .Pager(pager =>
        {
            pager.Visible(true);
            pager.DisplayMode(GridPagerDisplayMode.Full);
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new JS("[15, 30, 50, 100, 200]"));
            pager.ShowInfo(true);
            pager.ShowNavigationButtons(true);
        })
        )
</div>


