@page
@model ProgramGuard.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

@* <h1>Create File Lists</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="dx-field">
        <div class="dx-field-label">File Path:</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .Name("FilePath")
                .Placeholder("Enter file path")
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                .Text("Create")
                .Type(ButtonType.Success)
                .UseSubmitBehavior(true)
                )
        </div>
    </div>
}
 *@
<h1>Login</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="dx-field">
        <div class="dx-field-label">賬號</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .Name("UserName")
                .Placeholder("Enter Username")
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">密碼</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .Name("Password")
                .Placeholder("Enter Password")
                )
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                .Text("登錄")
                .Type(ButtonType.Success)
                .UseSubmitBehavior(true)
                )
        </div>
    </div>
}