@page
@model ProgramGuard.Web.Pages.PrivilegeRuleModel
@{
}

<link rel="stylesheet" href="/css/pages/privilegeRule.css" asp-append-version="true"/>
<script src="~/js/pages/privilegeRule.js" type="module" asp-append-version="true"></script>


<div class="functionPanel">
    @(Html.DevExtreme()
        .SelectBox()
        .ID("cbxRule")
        .DataSourceOptions(o => o.PageSize(10).Paginate(true))
        .DataSource(d => d.RemoteController().LoadUrl("PrivilegeManage?Handler=Data"))
        .DisplayExpr("Name")
        .SearchEnabled(true)
        .Placeholder("權限規則")
        .NoDataText("沒有資料")
        .ShowClearButton(true))

    @(Html.DevExtreme()
        .Button()
        .ID("btnAdd")
        .Text("新增"))

    @(Html.DevExtreme()
        .Button()
        .ID("btnModify")
        .Text("編輯"))

    @(Html.DevExtreme()
        .Button()
        .ID("btnDelete")
        .Text("刪除"))

    <label id="lblNotice">規則調整後，帳號需再次登入後始生效</label>
</div>

<div id="form">
    @(Html.DevExtreme()
        .Form()
        .ID("form")
        .Items(items =>
        {
            items.AddGroup()
            .ColCount(3)
            .Items(groupItems =>
            {
                groupItems.AddGroup()
            .Caption("檔案清單")
            .ColSpan(1)
            .Items(secondGroupItems =>
            {
                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("查閱檔案清單")
            .Value(false)
            .ID("ckbShowUID")
            .OnValueChanged("function(value) { onCkbChanged(value, 'ckbModifyUID'); }"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("新增檔案")
            .Value(false)
            .Disabled(true)
            .ID("ckbModifyUID"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("編輯檔案")
            .Value(false)
            .Disabled(true)
            .ID("ckbAddAccount"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("刪除檔案")
            .Value(false)
            .Disabled(true)
            .ID("ckbAddAccount"));
            });

                groupItems.AddGroup()
            .Caption("檔案異動")
            .ColSpan(1)
            .Items(secondGroupItems =>
            {
                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("查閱檔案異動")
            .Value(false)
            .ID("ckbShowOrganization")
            .OnValueChanged("function(value) { onCkbChanged(value, 'ckbModifyOrganization'); }"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("審核檔案異動")
            .Value(false)
            .Disabled(true)
            .ID("ckbModifyOrganization"));
            });

                groupItems.AddGroup()
            .Caption("帳號管理")
            .ColSpan(1)
            .Items(secondGroupItems =>
            {
                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("查閱帳號清單")
            .Value(false)
            .ID("ckbShowAccountManager")
            @* .OnValueChanged("onCkbShowAccountManagerChanged") *@);

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("新增帳號")
            .Value(false)
            .Disabled(true)
            .ID("ckbAddAccount"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("刪除帳號")
            .Value(false)
            .Disabled(true)
            .ID("ckbDeleteAccount"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("變更顯示名稱")
            .Value(false)
            .Disabled(true)
            .ID("ckbModifyDisplayName"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("啟用帳號")
            .Value(false)
            .Disabled(true)
            .ID("ckbEnableAccount"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("停用帳號")
            .Value(false)
            .Disabled(true)
            .ID("ckbDisableAccount"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("變更帳號權限")
            .Value(false)
            .Disabled(true)
            .ID("ckbModifyAccountPrivilegeRule"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("重置其他人密碼")
            .Value(false)
            .Disabled(true)
            .ID("ckbResetOtherPeoplePwd"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("查閱權限規則")
            .Value(false)
            .ID("ckbShowPrivilegeRule")
            .OnValueChanged("function(value) { onCkbChanged(value, 'ckbModifyPrivilegeRule'); }"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("調整權限規則")
            .Value(false)
            .Disabled(true)
            .ID("ckbModifyPrivilegeRule"));

                secondGroupItems.AddSimple()
            .Editor(e => e.CheckBox().Text("查閱操作紀錄")
            .Value(false)
            .ID("ckbShowOperateLog"));
            });
            });
        }))
</div>