<div id="changePasswordPopup">
    <form id="changePasswordForm">
        <div class="dx-field">
            <div class="dx-field-label">賬號</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().TextBox()
                    .Placeholder("賬號")
                    .Name("UserName")
                    )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">密碼</div>
            <div class="dx-field-value">
                @(
                    Html.DevExtreme().TextBox()
                    .ID("CurrentPassword")
                    .Mode(TextBoxMode.Password)
                    .InputAttr("aria-label", "Password")
                    .Placeholder("現在使用的密碼")
                    .ShowClearButton(true)
                    .Buttons(buttons =>
                    {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('CurrentPassword')"));
                    })
                    )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">新密碼</div>
            <div class="dx-field-value">
                @(
                    Html.DevExtreme().TextBox()
                    .ID("NewPassword")
                    .Mode(TextBoxMode.Password)
                    .InputAttr("aria-label", "Password")
                    .Placeholder("新密碼")
                    .ShowClearButton(true)
                    .Buttons(buttons =>
                    {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('NewPassword')"));
                    })
                    )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">確認新密碼</div>
            <div class="dx-field-value">
                @(
                    Html.DevExtreme().TextBox()
                    .ID("ConfirmPassword")
                    .Mode(TextBoxMode.Password)
                    .InputAttr("aria-label", "Password")
                    .Placeholder("重複輸入新密碼")
                    .ShowClearButton(true)
                    .Buttons(buttons =>
                    {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('ConfirmPassword')"));
                    })
                    )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-value">
                @(Html.DevExtreme().Button()
                    .Text("確定")
                    .Type(ButtonType.Success)
                    .ID("submitChangePasswordButton")
                    )
            </div>
        </div>
    </form>
</div>
