@page
@using ProgramGuard.Dtos.User
@model ProgramGuard.Web.Pages.ChangePasswordModel
@Html.AntiForgeryToken()
<div id="container">
    @(Html.DevExtreme().Popup()
        .ID("popupChangePassword")
        .Width(350)
        .Height(400)
        .ShowTitle(true)
        .Title("更換密碼")
        .DragEnabled(false)
        .HideOnOutsideClick(true)
        .ShowCloseButton(true)
        .Position(positionConfig => positionConfig
        .At(HorizontalAlignment.Center, VerticalAlignment.Center)
        .My(HorizontalAlignment.Center, VerticalAlignment.Center)
        )
        .ContentTemplate(@<text>
        <div class="container-fluid">
            <div id="changePasswordMessage" class="text-center text-danger mb-3"></div>
            <form>
                <div class="mb-3">
                    <label for="CurrentPassword" class="form-label">密碼</label>
                    <div class="password-input">
                        @(Html.DevExtreme().TextBoxFor(m => m.changePasswordDto.CurrentPassword)
                        .ID("CurrentPassword")
                        .Mode(TextBoxMode.Password)
                        .InputAttr("aria-label", "Password")
                        .Placeholder("現在使用的密碼")
                        .ShowClearButton(true)
                        .OnEnterKey("changePasswordSubmit")
                        .Buttons(buttons =>
                        {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('CurrentPassword')"));
                        }))
                    </div>
                </div>
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">新密碼</label>
                    <div class="password-input">
                        @(Html.DevExtreme().TextBoxFor(m => m.changePasswordDto.NewPassword)
                        .ID("NewPassword")
                        .Mode(TextBoxMode.Password)
                        .InputAttr("aria-label", "Password")
                        .Placeholder("新密碼")
                        .ShowClearButton(true)
                        .OnEnterKey("changePasswordSubmit")
                        .Buttons(buttons =>
                        {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('NewPassword')"));
                        }))
                    </div>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">確認新密碼</label>
                    <div class="password-input">
                        @(Html.DevExtreme().TextBoxFor(m => m.changePasswordDto.ConfirmPassword)
                        .ID("ConfirmPassword")
                        .Mode(TextBoxMode.Password)
                        .InputAttr("aria-label", "Password")
                        .Placeholder("重複輸入新密碼")
                        .ShowClearButton(true)
                        .OnEnterKey("changePasswordSubmit")
                        .Buttons(buttons =>
                        {
                        buttons.Add()
                        .Name("password")
                        .Location(TextEditorButtonLocation.After)
                        .Widget(w => w.Button()
                        .StylingMode(ButtonStylingMode.Text)
                        .Icon("eyeopen")
                        .OnClick("() => changePasswordMode('ConfirmPassword')"));
                        }))
                    </div>
                </div>
                <div class="d-grid mt-4">
                    @(Html.DevExtreme().Button()
                    .Text("確定")
                    .Type(ButtonType.Success)
                    .OnClick("changePasswordSubmit")
                    )
                </div>
            </form>
        </div>
    </text>)
        )
</div>

